<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == "notice" ? "success" : "error" %>">
      <div id="flash_#{name}"><%= msg %></div>
    </div>
  <% end %>
<% end %>